<script>
  import { navigate } from "svelte-routing";

  import Qrcode from "../components/Qrcode.svelte";
  import Button from "../components/Button.svelte";

  import RegisterUser from "../forms/RegisterUser.svelte";
  import VerifyOTP from "../forms/VerifyOTP.svelte";

  import { userstate } from '../stores/userstate.js';

  export let location;
  export let loginDomain = "";
  let registered = false;
  let otpSecret = "";

$: if ($userstate && $userstate.authorized && loginDomain == "") navigate('/', {replace: true});
</script>

{#if loginDomain == "" || !($userstate && $userstate.authorized)}
<div class="content flex">
  {#if !registered}
  <div class="item">
 	   <h1>Register User</h1>
     <p>If you want the possibility to reset password, a email is required</p>
  </div>
  <div class="new_line"/>
  <div class="item">
    <RegisterUser bind:registered bind:otpSecret/>
  </div>
  {:else}
  <div class="item">
 	  <h1>Enable Multi Factor Authentication (MFA)</h1>
    <p>This is for your safety. (Information link to MFA)</p>
    <br>
    <div style="text-align: left;">
      <p>If this is your first time setting up an authenticator app, we recommend you to download the Google Authenticator app on your phone.</p>
      <div style="grid-template-columns: 1fr 1fr; align-items: center; display: grid;">
        <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_us' target="_blank"><img height="82.5" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        <a href='https://apps.apple.com/us/app/google-authenticator/id388497605' target="_blank"><img height="60" alt='Download on the App Store' src="/assets/App_Store.svg"/></a>
      </div>
      <p>Follow the steps bellow and you will be logged inn when this is done.</p>

      <pre>1. Open the Authenticator app on your phone
2. Click the plus sign to add the account
3a.  Select  'Scan a QR code'
4a. Point your mobilecamera at the displayed  QR code and scan it.

3b. If you register from a mobile and are not able to use the camera, then select 'Enter a setup key'
4b. Copy the setup key found under the QR code image and enter it into the setup key registration form.
      </pre>
      <Qrcode data={'otpauth://totp/' + $userstate.username + '?secret=' + otpSecret + '&issuer=auth.brurberg.no'}/>
      <h4>OTP code: {otpSecret}</h4>
      <p>6. Enter here the six-digit passcode that the  authenticator app gives you.</p>
      <VerifyOTP/>
      <p>7. Go to your email and verify your address.</p>
    </div>
  </div>
  {#if false}
  <div class="item">
    <h3>Do not start verifying email before saving OTP code.</h3>
    <p>Scan the QR-code with a authenticator app or type the code manyally and type the one time password you get into the box below for verification. You will be logged inn when this process is done.</p>
    <a href="https://www.google.com/landing/2step/" target="_blank">Information about multifactor authentication.</a>
    <br>
    <a href="https://google-authenticator.com/" target="_blank">Install a app to handle MFA.</a>
  </div>
  {/if}
  {/if}
  <div class="new_line" style="padding-top: 1.5em;"/>
</div>
{:else}
<div class="content flex" style="max-width: 30em">
  <div class="item_wide">
    <h1>Register User</h1>
    <p>You are currently logged inn at BrurbergAuth, would you still like to register a new user?</p>
    <Button click={() => window.location.replace("https://auth.brurberg.no/extern-login/?extern="+loginDomain)}>Login to { loginDomain }</Button>
    <Button click={() => userstate.set('')} primary="var(--warning-text)" secondary="var(--warning)">Register new user</Button>
  </div>
  <div class="new_line" style="padding-top: 1.5em;"/>
</div>
{/if}

<style>
  .content {
		position: relative;
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 60%;
  }
  .item_wide {
    flex: 0 0 80%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }
</style>
