<script>
  import { navigate } from "svelte-routing";

  import Button from "../components/Button.svelte";

  import ResetPassword from "../forms/ResetPassword.svelte";
  import ChangePassword from "../forms/ChangePassword.svelte";

  import { userstate } from '../stores/userstate.js';

  export let location;
  export let loginDomain = "";
  let newPass = false;
$: if ($userstate && $userstate.authorized && loginDomain == "") navigate('/', {replace: true});
</script>

{#if loginDomain == "" || !($userstate && $userstate.authorized)}
{#if !newPass}
<div class="content flex">
  <div class="item">
 	   <h2>Reset password</h2>
 	   <p>You will get a temporary password in the mail upon compleation.</p>
  </div>
  <div class="new_line"/>
  <div class="item">
    <ResetPassword bind:newPass/>
  </div>
  <div class="new_line" style="padding-top: 1.5em;"/>
</div>
{:else}
<div class="content flex">
  <div class="item">
 	   <h2>Set new password</h2>
 	   <p>Set a new password you can remember.</p>
  </div>
  <div class="new_line"/>
  <div class="item">
    <ChangePassword/>
  </div>
  <div class="new_line" style="padding-top: 1.5em;"/>
</div>
{/if}
{:else}
<div class="content flex" style="max-width: 30em">
  <div class="item_wide">
    <h1>Reset password</h1>
    <p>You are currently logged inn at BrurbergAuth, would you still like to reset the password?</p>
    <Button click={() => window.location.replace("https://auth.brurberg.no/extern-login/?extern="+loginDomain)}>Login to { loginDomain }</Button>
    <Button click={() => userstate.set('')} primary="var(--warning-text)" secondary="var(--warning)">Reset user password</Button>
  </div>
  <div class="new_line" style="padding-top: 1.5em;"/>
</div>
{/if}

<style>
  .content {
		position: relative;
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 60%;
  }
  .item_wide {
    flex: 0 0 80%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }
</style>
