<script>
  import { navigate } from "svelte-routing";

  import ChangePassword from "../forms/ChangePassword.svelte";

  import { userstate } from '../stores/userstate.js';

  export let location;
$: if ($userstate && !$userstate.authorized) navigate('/', {replace: true});
</script>

  <div class="content flex">
    <div class="item">
	 	   <h2>Update user</h2>
	 	   <p>If you want the possibility to reset password, a email is required.</p>
    </div>
    <div class="new_line"/>
    <div class="item">
      <ChangePassword/>
    </div>
    <div class="new_line" style="padding-top: 1.5em;"/>
  </div>

<style>
  .content {
		position: relative;
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 60%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }
</style>
