html, body {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
  background-color: var(--background);
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
button, select {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

label {
	display: block;
}

pre {
	font-family: inherit !important;
	white-space: pre-line !important;
	text-align: left !important;
}
