<script>
  import { userstate, token } from '../stores/userstate.js';
  import { message } from '../stores/message.js';

  import Input from "../components/Input.svelte";
  import Button from "../components/Button.svelte";

  let body = {
    password: "",
    newpassword: "",
    confirmnewpassword: "",
    otp: ""
  }

  let disabled = false;
  let validOTP = false;
  let validPassword = false;
  let validNewPassword = false;
  let validConfirmNewPassword = false;

$: disabled = body.newpassword != body.confirmnewpassword || !validOTP || !(validPassword || $userstate.authorized) || !validNewPassword || !validConfirmNewPassword

$: if (validNewPassword && validConfirmNewPassword && body.newpassword != body.confirmnewpassword) message.warning("New password and Confirm new password has to be identical")

	function change() {
    fetch('/api/updatepassword', {
      method: 'POST', // or 'PUT'
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + $token
      },
      body: JSON.stringify(body),
    })
    .then(response => response.json())
    .then(data => {
      if (data.error) {
        message.error(data.error)
      } else if (data.token) {
        userstate.set(data.token)
        message.success("Password changed");
      }
    })
    .catch((error) => {
      message.error(error);
    });
  }
</script>

  <form on:submit|preventDefault={change}>
    <Input required min={6} max={6} label="One Time Password"
      bind:valid={validOTP} bind:value={body.otp}/>
    {#if !$userstate.authorized}
    <Input required min={8} label="Password from Reset mail"
      bind:valid={validPassword} password bind:value={body.password}/>
    {/if}
    <Input required min={8}  label="New Password"
      bind:valid={validNewPassword} password bind:value={body.newpassword}/>
    <Input required min={8}  label="Confirm New Password"
      bind:valid={validConfirmNewPassword} password bind:value={body.confirmnewpassword}/>
    <Button bind:disabled>Set new password</Button>
  </form>
