<script>
  import { userstate } from '../stores/userstate.js';
  import { message } from '../stores/message.js';

  import Input from "../components/Input.svelte";
  import Button from "../components/Button.svelte";

  let body = {
    username: "",
    password: ""
  }

  let disabled = false;
  let validUsername = false;
  let validPassword = false;

	function login() {
    fetch('/api/authenticate', {
      method: 'POST', // or 'PUT'
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'omit', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(body),
    })
    .then(response => response.json())
    .then(data => {
      if (data.token) {
        userstate.set(data.token)
        message.success("Successfull loggin");
      }
    })
    .catch((error) => {
      message.error(error);
    });
  }

$: disabled = !validUsername || !validPassword
</script>
<form on:submit|preventDefault={login}>
  <Input required bind:valid={validUsername} label="Username" bind:value={body.username}/>
  <Input required min={8} bind:valid={validPassword} label="Password" password bind:value={body.password}/>
  <Button bind:disabled>Login</Button>
</form>
