<script>
  import { userstate } from '../stores/userstate.js';
  import { message } from '../stores/message.js';

  import Input from "../components/Input.svelte";
  import Button from "../components/Button.svelte";
  import Modal from "../components/Modal.svelte";
  import Checkbox from "../components/Checkbox.svelte";
  import DateTime from "../components/DateTime.svelte";

  import GDPRConsentForm from "../assets/GDPRConsentForm.svelte";
  import {GDPRConsentFormCommitID} from "../assets/constants.js";

  let body = {
    user: {
      firstname: "",
      lastname: "",
      birthday: "",
      email: "",
      address: "",
      postcode: "",
      username: "",
      password: "",
      confirmpassword: ""
    },
    mailInsteadOfMFA: false,
    gdprConsentID: ""
  }
  export let otpSecret = "";

  let showConsentForm = false;
  export let registered = false;
  let gdprconsent = false;
  let disabled = false;
  let validEmail = false;
  let validUsername = false;
  let validPassword = false;
  let validConfirmPassword = false;

$: disabled = body.user.password != body.user.confirmpassword || !gdprconsent || !validEmail || !validUsername || !validPassword || !validConfirmPassword

$: body.gdprConsentID = gdprconsent ? GDPRConsentFormCommitID : ''

	function register() {
    fetch('/api/registeruser', {
      method: 'POST', // or 'PUT'
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'omit', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(body),
    })
    .then(response => response.json())
    .then(data => {
      console.log(data)
      if (data.error) {
        message.error(data.error);
        return;
      }
      if (data.token) {
        userstate.set(data.token);
        otpSecret = data.otp_secret;
        message.info("User registered and need to verify otp");
        registered = true;
      }
    })
    .catch((error) => {
      message.error(error);
    });
  }
</script>

<form on:submit|preventDefault={() => {}}>
    <Input label="Firstname" bind:value={body.user.firstname}/>
    <Input label="Lastname" bind:value={body.user.lastname}/>
    <DateTime label="Birthday" bind:value={body.user.birthday}/>
    <Input email label="Email" bind:valid={validEmail} bind:value={body.user.email}/>
    <Input label="Address" bind:value={body.user.address}/>
    <Input label="Postcode" bind:value={body.user.postcode}/>
    <Input required label="Username" bind:valid={validUsername} bind:value={body.user.username}/>
    <Input required min={8} label="Password" bind:valid={validPassword} password bind:value={body.user.password}/>
    <pre>Password must have at least 8 characters.</pre>
    <Input required min={8}  label="Confirm Password" bind:valid={validConfirmPassword} password bind:value={body.user.confirmpassword}/>
    <div class="item flex">
      <Checkbox size="2.25em" primaryColor="var(--primary)" secondaryColor="var(--tetradicOne)" bind:checked={gdprconsent}/>
      <Button click={() => {showConsentForm = true}}>Show GDPR consent form</Button>
    </div>
    <Button click={register} bind:disabled>Register</Button>
  </form>
  <Modal bind:show={showConsentForm}>
    <div class="card">
      <div class="card_header">
        <h1>Privacy Policy</h1>
      </div>
      <GDPRConsentForm/>
      <div class="card_footer">
        <Button flat primary="0,58,255" secondary="var(--analogTwo)" click={() => {body.gdprconsent = true; showConsentForm = false}}>I Accept</Button>
        <Button flat primary="255,59,0" secondary="var(--tetradicOne)" click={() => {showConsentForm = false}}>Close</Button>
      </div>
    </div>
  </Modal>

<style>
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }
  .item {
    flex: 0 0 60%;
  }

  .card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #FFF;
    border-radius: .5em;
  }
  .card_header {
    background-color: #CCC;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .card_footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: .5em 1em;
  }
</style>
