<script>
  import { message } from '../stores/message.js';
  import { userstate } from '../stores/userstate.js';

  import Input from "../components/Input.svelte";
  import Button from "../components/Button.svelte";

  export let newPass = false;

  let body = {
    username: "",
    email: "",
    otp: ""
  }

  let disabled = false;
  let validUsername = false;
  let validEmail = false;
  let validOTP = false;

$: disabled =  !validOTP || !validUsername || !validEmail || !validOTP

	function reset() {
    fetch('/api/resetpassword', {
      method: 'POST', // or 'PUT'
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'omit', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(body),
    })
    .then(response => response.json())
    .then(data => {
      if (data.error) {
        message.error(data.error)
      } else if (data.token) {
        userstate.set(data.token)
        newPass = true;
        message.info("New password sent to your email");
      }
    })
    .catch((error) => {
      message.error(error);
    });
  }
</script>

  <form on:submit|preventDefault={reset}>
    <Input required label="Username"
      bind:valid={validUsername} bind:value={body.username}/>
    <Input required email label="Email"
      bind:valid={validEmail} bind:value={body.email}/>
    <Input required min={6} max={6} label="One Time Password"
      bind:valid={validOTP} bind:value={body.otp}/>
    <Button bind:disabled>Reset password</Button>
  </form>
