<script>
  import { token } from '../stores/userstate.js';
  import { message } from '../stores/message.js';

  import Input from "../components/Input.svelte";
  import Button from "../components/Button.svelte";

  export let code = "";
  export let success = false;

  let disabled = false;
  let valid = false;

$: disabled = !valid

	function verify() {
    fetch('/api/verifyemail', {
      method: 'POST', // or 'PUT'
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'omit', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + $token
      },
      body: JSON.stringify({code: code}),
    })
    .then(response => response.json())
    .then(data => {
      if (data.error) {
        message.error(data.error);
      } else {
        message.success("Successfull verificaton");
        success = true;
      }
    })
    .catch((error) => {
      message.error(error);
    });
  }
</script>

  <form on:submit|preventDefault={verify}>
    <Input required min={8} max={8} label="Email verification code"
      bind:valid bind:value={code}/>
    <Button bind:disabled>Verify</Button>
  </form>

<style>
  form {
    text-align: center;
  }
</style>
