<script>
  import { token } from '../stores/userstate.js';
  import { message } from '../stores/message.js';

  import Input from "../components/Input.svelte";
  import Button from "../components/Button.svelte";

  let body = {
    otp: ""
  }

  let disabled = false;
  let validOTP = false;

$: disabled = !validOTP

	function verify() {
    fetch('/api/verify-otp', {
      method: 'POST', // or 'PUT'
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'omit', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + $token
      },
      body: JSON.stringify(body),
    })
    .then(response => response.json())
    .then(data => {
      console.log(data)
      if (data.token) {
        token.set(data.token)
        message.success("Successfull verificaton");
      }
    })
    .catch((error) => {
      message.error(error);
    });
  }
</script>

  <form on:submit|preventDefault={verify}>
    <Input required min={6} max={6} label="One Time Password"
      bind:valid={validOTP} bind:value={body.otp}/>
    <Button bind:disabled>Verify</Button>
  </form>

<style>
  form {
    text-align: center;
  }
</style>
