<script>
  export let min_height = "1.3em";
  export let multiline = false;
  export let label = ""
  export let value;
  export let password = false;
  export let required = false;
  export let email = false;
  export let min = 0;
  export let max = -1;
  export let valid = false;
  let visible = false;

$: {
  if (required && !value) {
    valid = false;
  } else if (value.length < min) {
    valid = false;
  } else if (max !== -1 && value.length > max) {
    valid = false;
  } else if (email && value !== null && value.length !== 0 && !(/.+@.+\..+/.test(value))) {
    valid = false;
  } else {
    valid = true;
  }
}
</script>

{#if multiline}
  <div>
    <textarea contenteditable bind:value={value} style="min-height: {min_height}"/>
  </div>
{:else}
  {#if label != ""}
  <fieldset class:invalid={!valid}>
    <legend>{(required ? '* ' : '') + label}</legend>
    {#if password}
      <input contenteditable bind:value={value} type="password"/>
    {:else}
      <input contenteditable bind:value={value}/>
    {/if}
  </fieldset>
  {:else}
  {/if}
{/if}

<style>
div {
	border-style: solid !important;
	border-width: thin;
	border-color: gray;
	border-radius: 4px;
	height: 100%;
	overflow: auto;
  min-height: 1.3em;
}

input, textarea{
  width: calc(100% - 1em);
  background-color: transparent;
  border-style: none !important;
  margin: 0;
  resize: none;
  border: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em 1em;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus, textarea:focus {
  outline:none;
}

fieldset, div {
  text-align: left;
}

fieldset {
  margin-top: 1em;
  margin-bottom: .5em;
  border: 1px solid #ccc !important;
  border-style: solid;
  border-radius: .5em;
  padding: 0.01em 1em 0.01em 0em;
}
legend {
  white-space: nowrap;
  width: auto;
  margin-left: .75em;
}

input:disabled {
	color: #ccc;
}
.invalid {
  border-color: var(--error) !important;
}
</style>
