<script>
  import Snackbar from './Snackbar.svelte';

  import { message } from '../stores/message.js';

  let resetTimeout;
  import {onMount} from 'svelte';
  onMount(() => {
    message.set((t, c, text) => {; color = "--"+c; snack_text = text; resetTimeout(t)})
  });

  let snack_text = "";
  let timeout = 0;
  let color = "";
</script>

<Snackbar bind:resetTimeout bind:timeout bind:backgroundColor={color} >{snack_text}</Snackbar>
