<script>
  import { fade, scale } from 'svelte/transition';

  export let show = false;

  document.addEventListener("click", function(evt) {
    if (!show) return;
    let flyoutEl = document.getElementById('modal'),
      targetEl = evt.target; // clicked element
    do {
      if(targetEl == flyoutEl) {
        // This is a click inside, does nothing, just return.
        return;
      }
      // Go up the DOM
      targetEl = targetEl.parentNode;
    } while (targetEl);
    // This is a click outside.
  });
</script>

{#if show}
  <div id="modal" on:click={() => {show = false}} transition:fade>
    <div id="modal-content" on:click|stopPropagation={() => {}} transition:scale>
      <slot/>
    </div>
  </div>
{/if}

<style>
/* The Modal (background) */
#modal {
  display: flex; /* Hidden by default */
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 110; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
  margin: auto;
  max-width: 80%;
  width: auto;
}
</style>
