<script>
  import QrCode from "qrcode-generator";

  export let data = "";

	function onLoad(node) {
		// the node has been mounted in the DOM
    let qr = QrCode(0, 'L')
    qr.addData(data)
    qr.make();
    node.innerHTML = qr.createSvgTag(1, 0)
    node.firstChild.style.width = "100%";
    node.firstChild.style.height = "100%";

		return {
			destroy() {
				// the node has been removed from the DOM
			}
		};
	}
</script>

{#if data}
<div use:onLoad></div>
{/if}

<style>
  div {
    width: 100%;
    height: 100%;
  }
  div > svg {
    width: 100%;
    height: 100%;
  }
</style>
