<script>
  import { fade, scale } from 'svelte/transition';

  export let backgroundColor = "--info";
  export let color = "--text-default";

  export let timeout = 5000;
  export let show = false;
  export let old_show = false;
  let timer = null;

  export const resetTimeout = (time) => {
    clearTimeout(timer);
    show = true; old_show = true;
    timeout = time;
    timer = setTimeout(() => {show = false; old_show = false}, timeout);
  }

$: if (show != old_show) {
  old_show = show
  if (show) {
    timer2 = setTimeout(() => {show = false; old_show = false}, timeout);
  } else {
    clearTimeout(timer2);
  }
}

$: background = backgroundColor.startsWith("--") ? "var("+backgroundColor+")" : backgroundColor
</script>

{#if show}
<div class="snackbar" transition:fade>
  <div class="snackbar__surface" style="background-color: {background}">
    <slot/>
  </div>
</div>
{/if}

<style>
.snackbar {
	z-index: 110;
	margin: 8px;
  display: flex;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	pointer-events: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.snackbar__surface {
	max-width: 672px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
  padding: .5em 1em;
	align-items: center;
	display: flex;
	margin: 8px;
	max-width: 672px;
	min-height: 48px;
	min-width: 344px;
	pointer-events: auto;
  color: #fff;
}
</style>
