<script>
import snarkdown from 'snarkdown'

  let md = `
# GDPR Consent Form

## Background

BrurbergAuth is collecting information about you so that you don’t have to keep your information and credentials up to date on multiple webpages. BrurbergAuth is only a portal giving you a single login to multiple systems. BrurbergAuth also aims to simplify keeping your identity and consent up to date.

## Data Processing

BrurbergAuth **DOES NOT** process any of your information.

## What you should know

Every system that uses BrurbergAuth need its own GDPR compliant consent. You will also be able to withdraw consent from all systems using BrurbergAuth by withdrawing consent from BrurbergAuth. This will exclude information that systems using BrurbergAuth need for legal reasons.

Whenever you login to a system using BrurbergAuth you will be able to see some information that the system wants you to se. In other words what you see might change based on your personal information. Therefore it is **important** to note that this is not the same as and does not equal your consent for the system to store or process any of your personal information.

## Sharing

Whenever you login to a system that uses BrurbergAuth you consent to let BrurbergAuth share your information with this system. This is not the same as consenting to them storing or analysing the information. For this the system needs its own GDPR compliant consent form.

## Disclaimer

In this system there is a slight amount of trust involved. There is no way that BrubergAuth can ensure if systems using BrurbergAuth is complying or not.

If you ever find a system using BrurbergAuth that is in violation please send a mail to [auth@brurberg.no](mailto:auth@brurberg.no) with all relevant information. BrurbergAuth will then investigate and potentially revoke access and report the system to the appropriate authorities.

With this BrurbergAuth really hopes with all of its heart that all is in order and that it’s compliant with all it should. If you ever find ways to further protect the user without an unacceptable usability penalty BrurbergAuth will try its best to better itself.
`;
</script>
<div>
{@html snarkdown(md)}
</div>

<style>
  div {
    padding: 1em;
    text-align: left;
    background-color: #FFF;
  }
</style>
