<script>
  import { Router, Link, links, Route } from "svelte-routing";
  export let url = "";

  import { userstate } from './stores/userstate.js';

  import Topbar from './components/Topbar.svelte';
  import Message from './components/Message.svelte';

  import Home from "./routes/Home.svelte";
  import VerifyEmail from "./routes/VerifyEmail.svelte";
  import Updateuser from "./routes/Updateuser.svelte";
  import Resetpass from "./routes/Resetpass.svelte";
  import Register from "./routes/Register.svelte";
  import Login from "./routes/Login.svelte";
</script>

<main>
  <Router url="{url}">
    <Topbar>
      <div class="flex_container" use:links>
        <div class="flex_item">
          <a href="/"><h1>BrurbergAuth</h1></a>
        </div>
        <div class="link_list">
          <a class="link_button" href="/">Home</a>
          {#if $userstate.authorized}
          <a class="link_button" href="/updateuser">Update user</a>
          <a class="link_button" on:click={() => userstate.set('')}>Logout</a>
          {:else}
          <a class="link_button" href="/resetpass">Reset password</a>
          <a class="link_button" href="/register">Register</a>
          <a class="link_button" href="/login">Login</a>
          {/if}
        </div>
      </div>
    </Topbar>
    <Message/>

    <Route path="/"><Home /></Route>
    <Route path="verifyemail" component="{VerifyEmail}" />
    <Route path="verifyemail/:code" component="{VerifyEmail}" />
    <Route path="updateuser" component="{Updateuser}" />
    <Route path="resetpass" component="{Resetpass}" />
    <Route path="resetpass/:loginDomain" component="{Resetpass}" />
    <Route path="register" component="{Register}" />
    <Route path="register/:loginDomain" component="{Register}" />
    <Route path="login" component="{Login}" />
  </Router>
</main>

<style>
:root {
  --orange: #FCA611;
  --green: #11FC31;
  --blue: #1167FC;
  --purple: #FC11DD;

  /* https://www.canva.com/colors/color-wheel/ */
  --primary: #4500ff;
  --primary-text: #FFFFFF;
  --secoundary: #BAFF00;
  --monochromatic: #6A33FF;
  --triadicOne: #FF4500;
  --triadicTwo: #00FF45;
  --analogOne: #C400FF;
  --analogTwo: #003AFF;
  --tetradicOne: #FF003B;
  --tetradicTwo: #BAFF00;
  --tetradicThree: #00FFC5;

  --gray: #E6E6E6;
  --background: var(--gray);
  --success: #4caf50;
  --success-text: #FFFFFF;
  --info: #2196f3;
  --info--text: #FFFFFF;
  --warning: #fb8c00;
  --warning-text: #FFFFFF;
  --error: #ff5252;
  --error-text: #FFFFFF;
}
	main {
		text-align: center;
		padding: 0;
		margin: 0 auto;
    min-height: 100%;
    /* background-image: linear-gradient(var(--gray),#fff); */
	}
	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	h1 {
		color: var(--primary);
		font-size: 3em;
		font-weight: 350;
    margin: .5rem 0;
	}

  .flex_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1.5rem;
  }
  .flex_item {
    flex-basis: auto;
  }
  .link_list {
    display: flex;
    height: inherit;
  }
  .link_button {
    height: 100%;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;

    color: rgba(0,0,0,.5);
    padding-left: .5em;
    padding-right: .5em;
		font-weight: 750;
		letter-spacing: .0892857143em;
		text-indent: .0892857143em;
		text-transform: uppercase;
		white-space: nowrap;
  }
  .link_button:hover {
    background-color: var(--gray);
  }
</style>
